.main{
    width: 500px;
    height: 100px;
    margin: 100px auto;
    background: #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__text{
    text-align: center;
}

.main__button{
    margin-left: 100px;
    padding: 10px;
}